button.button {
  font-family: inherit;
  background: none;
  position: relative;
  z-index: 3;
  background-color: var(--white-color);
  border: solid 0.05rem var(--alt-color);
  color: var(--alt-color);
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition:
    background-color 0.3s,
    color 0.3s;
}
