.invitation {
  .letter-content {
    font-size: 0.8rem;
  }

  .relation {
    font-size: 0.75rem;
    opacity: 0.7;

    .relation-name {
      display: inline-block;
      min-width: 2em;
    }
  }
}
