.front {
  .title {
    font-size: 1.5rem;
  }

  .title-group {
    display: flex;
    justify-content: right;
    align-items: center;

    .title-deco {
      font-size: 2rem;
      opacity: 0.5;
      padding: 1rem;
    }
  }
  .subtitle {
    font-size: 1.5rem;
    font-family: "Allura";
    color: var(--alt-color);
  }
}
