@use "./component/front";
@use "./component/invitation";
@use "./component/button";
@use "./component/bgEffect";
@use "./component/calendar";
@use "./component/gallery";

:root {
  --theme-color: #ff8585;
  --theme-bg-color: #ffeaea;
  --dark-color: #282c34;
  --dark-grey-color: #c4c4c4;
  --light-grey-color: #f5f5f5;
  --light-color: #fff;

  font-family: "MapoGoldenPier";
  font-size: 20px;
  @media (max-width: 500px) {
    font-size: 4vw;
  }
}

@font-face {
  font-family: "MapoGoldenPier";
  src: url("/font/MapoGoldenPierA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ALS Script";
  src: url("/font/ALSScript.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Allura";
  src: url("/font/AlluraRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  color: #282c34;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  color: var(--dark-color);
}

.background {
  background-color: var(--theme-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;

  .card-view {
    width: 980px;
    text-align: center;

    @media (max-width: 980px) {
      width: 500px;
    }

    @media (max-width: 500px) {
      width: 100vw;
    }

    .section-group {
      display: flex;
      flex-direction: row;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
      margin: 10px;

      @media (max-width: 980px) {
        display: inherit;
        flex-direction: inherit;
        box-shadow: inherit;
        margin: inherit;
      }

      .section {
        background-color: var(--light-color);

        padding: 20px;
        // border-radius: 10px;
        border: 1px solid var(--light-grey-color);
        width: 50%;

        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (max-width: 980px) {
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
          margin: 10px;
          width: inherit;
        }

        @media (max-width: 500px) {
          padding: 4vw;
          margin: 2vw;
        }
      }
    }
  }
}

h2 {
  font-size: 1.5rem;
  color: var(--theme-color);
  font-weight: 500;
  &.english {
    font-family: "Allura";
  }
}
